<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    	<title>Show Database</title>
        <meta charset="utf-8">
        {% load static%}
        <link rel="stylesheet" href="{% static 'semiRestfulTV/css/newShow.css' %}">
	</head>
    <body>

        <a href="/shows">Go Back</a>
        
        <div class="container">

            {% if messages %}
            <ul class = "messages">
                {% for message in messages %}
                    <li class="messageBanner" {% if message.tags %} class="{{ message.tags }}"{% endif %} >{{ message }}</li> 
                {% endfor %}
            </ul>
            {% endif %}

            <h1>Add A New Show</h1>

            <div class="newShow">
                <form action="/shows/create" method="POST" class="AddBox">
                    {%csrf_token%}
                        <h4>Title:</h4>
                        <input type="text" name="title">
                        <h4>Network:</h4>
                        <input type="text" name="network">
                        <h4>Release Date:</h4>
                        <input type="date" name="releaseDate">
                        <h4>Description:</h4>
                        <textarea  type="text" class="descBox"name="description"></textarea></br></br>
                        <input class="button" type="submit" value="Create" >
                </form>
            </div>
                
        </div>
        
    </body>
</html>